body {
    background-color: rgb(199, 196, 196);
}
.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#wrong {
    width: 3%;
    position: relative;
    margin-bottom: -4%;
    margin-left: 3%;
}   
.box {
    border: 2px solid white;
    background-color: white;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 15px;
    padding-bottom: 70px;
}
@media only screen and (max-width: 600px) {
  .box {
    width: 80%;
    margin-left: 10%;
  }
}

.heading h1 {
    font-size: 30px;
    font-weight:650;
}
@media only screen and (max-width: 600px) {
  .heading h1 {
    font-size: 20px;
  }
}
.heading img {
    width: 8%;
    border: 1px solid white;
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .heading img {
   width: 9%;
   border: 1px solid white;
   border-radius: 50%;
  }
}
#sg {
    border: 1px solid rgb(195, 193, 193);
    width: 50%;
    padding: 10px;
    border-radius: 20px;
}
@media only screen and (max-width: 600px) {
    #sg {
        border: 1px solid rgb(195,193,193);
        width: 60%;
    }
  }
#sa {
    border: 1px solid rgb(195, 193, 193);
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 600px) {
    #sa {
        border: 1px solid rgb(195,193,193);
        width: 60%;
      
    }
  }
#apple {
    width: 9%;
    margin-bottom: -3%;
}
#google {
    width: 9%;
    margin-bottom: -3%;
    border-radius: 50%;
}
#hr1 {
    display: inline-block;
    width: 25%;
    
}
#or {
    display: inline-block;
}
#hr2 {
    display: inline-block;
    width: 25%;
}
input {
    padding: 15px;
    width: 50%;
    border: 1px solid rgb(172, 170, 170);
    border-radius: 5px;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
   .main input {
        width: 55%;
        padding: 10px;
        font-size: 15px;
   }
  }
#b1 {
    display: block;
    border: 2px solid black;
    color: white;
    background-color: black;
    width: 55%;
    padding: 8px;
    border-radius: 20px;
    margin-top: 25px;
}
@media only screen and (max-width: 600px) {
    #b1 {
        width: 65%;
    }
  }
#b2 {
    display: block;
    border: 1px solid rgb(192, 189, 189);
    background-color: white;
    color: black;
    width: 55%;
    padding: 8px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 60px;
}
@media only screen and (max-width: 600px) {
    #b2 {
        width: 65%;
    }
  }

@media only screen and (max-width: 600px) {
  .box {
    width: 80%;
    margin-left: 10%;
  }
}
